@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  max-width: 80rem;
}

main {
  display: flex;
  justify-content: space-around;
  margin-left: 10rem;
}

header {
  margin-bottom: 3rem;
}

#header-title {
  margin-left: 8rem;
  margin-top: 4rem;
  font-weight: bold;
}

#leaderboard-table .header-content {
  display: flex;
  margin-left: 2rem;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 8px 10px 15px gray;
  border: 2px solid black;
}

form {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: column;
  align-items: flex-end;
}

.form-input {
  width: 200px;
  border: 3px solid black;
  height: 2rem;
}

#scores {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
}

#scores .score {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  font-weight: bold;
}

#scores .score:nth-child(even) {
  background-color: grey;
}