*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
  
  .container {
    display: flex;
    justify-content: space-evenly;
  }
  
  h1 {
    font-size: 25px;
    text-align: center;
  }
  
  .refresh-scores {
    display: flex;
    justify-content: space-between;
  }
  
  .refresh-scores h2 {
    font-size: 20px;
  }
  
  .refresh-btn {
    margin: 18px;
   }
  
  .display-scores {
    border: 3px solid black;
    padding: 5px 1px;
  }
  
  .display-scores div:nth-of-type(2n) {
    background-color: rgb(233, 230, 230);
  }
  
  .input-scores {
    display: table-caption;
  }
  
  .score {
    margin: 1em 0;
  }
  
  .add-scores h2 {
    font-weight: initial;
  }
  